<@compress single_line=true>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<#include "common/header.html"/>
</head>
<body>
<#include "common/nav.html"/>
	<h1>Hello Freemaker!!!</h1>
	<!-- <div>html注释</div>-->
	<#-- 我只是一个注释，我不会有任何输出  -->
	<#assign age=32/>
	<#assign uname=name/>
	${name},你好。${message} ，年龄：${age} ${uname}
	<#assign info={"mobile":"13301231212",'address':'北京市昌平区王府街'} />
	电话：${info.mobile}  地址：${info.address}
	<#assign names=["zhangsan","狗gou","lisi"] />
	<p>${names[0]}</p>
	<p>${names[1]}</p>
	<p>${names[2]}</p>
	
	
	${character(1)} ===
	${character(2)} ===
	${character(3)} ===
	
	<div style="padding:20px;background:#eee;color:red">注意：在指令中，不需要加&amp;{}.直接使用栈值中的key即可。</div>
	<div>
		<ul>
			<!-- gt lt -->
			<!-- gte lte -->
			<#list goodsList as good >
				<#if good.price gt 3>
					<li style="background:pink">${good.name}===${good.price}</li>
				<#elseif good.price gt 5>
					<li style="background:red">${good.name}===${good.price}</li>
				<#else>
					<li style="background:green;">${good.name}===${good.price}</li>
				</#if>
			</#list>
		</ul>
		一共有：${goodsList?size} 条。
		一共有：${"aaaa"?index_of('aa')} 条。
		
		<#--
			<c:forEach items="${goodsList}" var="good" varStatus="goodStatus">
				${goodStatus.index} :
				${goodStatus.count} :
				
					${good.name}===${good.price}=== ${rumo:dateFormat(good.date,"yyyy-MM-dd HH:mm")}
										${good.date?string("yyyy年MM月dd日 HH:mm")}
			</c:forEach>
			-->
			
		
			<#if goodsList??>
				<!-- gt lt -->
				<!-- gte lte -->
				<#list goodsList as good >
					<li style="background:pink">
						${good_index + 1} :
						<#if good.name??>${good.name}<#else>没有名字</#if>
						${(good.name)!"没有名字"}
						===${good.price}===${good.price?string('#.#')}====
						${good.date?date}
						${good.date?time}
						${good.date?datetime}
						${good.date?string("yyyy年MM月dd日 HH:mm")}
						===小计：${good.price * good.num}====${(good.price>3)?string("大于","不大于")}
						
						==============***${dateFormat(good.date,"yyyy-MM-dd HH:mm:ss")}**===========
					</li>
				</#list>
			</#if>
	</div>
	<#include "common/footer.html"/>
	<script>
		// var name = "3333"; 
		function test(){ }
	</script>
</body>
</html>
</@compress>